body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #343a40;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.card {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .card-body {
        padding: 0.5rem;
    }
}
